<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%p] %d [%t] %c %M - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.pivotal.archiver" additivity="false" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>